[github]
  user = gkats
[user]
  email = giannis.katsanos@gmail.com
  name = gkats
[color]
  ui = auto
[core]
  editor = vim
  excludesfile = /home/gkats/.gitignore_global
  commentChar = ";"
[alias]
  cm = commit
  cma = commit --amend
  co = checkout
  lc = log ORIG_HEAD.. --stat --no-merges
  st = status -sb
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  cleanup = !git remote prune origin && git gc && git clean -dfxn && git stash clear
  log1 = log --oneline
