# Create a directory and cd into it
function mkcd() {
  command mkdir -p "$@" && cd "$@"
}

# Enable sublime to show gems source
function sublgem () {
  /opt/sublime_text/sublime_text -n $(bundle show $1)
}

# Copy public key to clipboard
function pubkey() {
  more ~/.ssh/id_rsa.pub | xsel --clipboard --input
  echo '=> Public key copied to clipboard.'
}

# Replace word in git repo
function gitH() {
  sed -i "s/$1/$2/g" $(git ls-files)
}

function sysup() {
  command sudo systemctl start "$1"
}
